/*

!.gitignore
!README.md

!/bat
!/btop
!/cava
!/foot
!/hypr
!/nvim
!/rofi
!/starship.toml
!/swaync
!/waybar
!/yazi
!/zathura

# !/emacs/
# /emacs/*
# !/emacs/init.el

!/fish/
/fish/*
!/fish/config.fish
!/fish/fish_plugins
!/fish/functions
/fish/functions/*
!/fish/functions/fish_replace_path.fish
!/fish/functions/handle_floating_window.fish
!/fish/functions/low_battery_alert.fish
!/fish/functions/playpause.fish
!/fish/functions/switch_system_theme.fish
!/fish/functions/switch_wallpaper.fish


!/tmux
/tmux/*
!/tmux/tmux.conf

!/screenshots
!/wallpapers
