/berg-cli/
/Code/
/dconf/
/discord/
/Electron/
/emacs/
/espanso/
/fontconfig/
/gh/
/gtk*/
/libreoffice/
/Notion/
/okularrc
/Proton*/
/pulse/
/Slack/
/spotify/
/spicetify/
/shuttle/
/systemd/
/wireplumber/

/*.conf

