/*

!.gitignore
!README.md

!/bat
!/btop
!/cava
!/foot
!/helix
!/hypr
!/starship.toml
!/waybar
!/yazi
!/zathura

# !/emacs
# /emacs/*
# !/emacs/init.el

!/fish/
/fish/*
!/fish/config.fish
!/fish/fish_plugins


!/tmux
/tmux/*
!/tmux/tmux.conf

!/screenshots
!/wallpapers
!/scripts
