theme = "kanagawa_paper"

[editor]
default-yank-register = "+"
line-number = "relative"
cursorline = true
color-modes = true

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.soft-wrap]
enable = true

[keys.select]
esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]
